<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 tut</title>
</head>
<body>
  <div id="app">
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: () => ({
          d3data: [99, 71, 78, 25, 36, 92],
        }),
        mounted() {
            const svg = d3.select(this.$el)
                .append('svg')
                .attr('width', 500)
                .attr('height', 270)
                .append('g')
                .attr('transform', 'translate(0, 10)');
            const x = d3.scaleLinear().range([0, 430]);
            const y = d3.scaleLinear().range([210, 0]);
            d3.axisLeft().scale(x);
            d3.axisTop().scale(y);
            x.domain(d3.extent(this.d3data, (d, i) => i));
            y.domain([0, d3.max(this.d3data, d => d)]);
            const createPath = d3.line()
            .x((d, i) => x(i))
            .y(d => y(d));
            svg.append('path').attr('d', createPath(this.d3data));
        }

    })
  </script>
</body>
</html>